:root {
  /**
         * colors
         */
  --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
  --raisin-black-1: hsl(0, 0%, 16%);
  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --roman-silver: hsl(220, 6%, 59%);
  --quick-silver: hsl(0, 1%, 65%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsl(0, 2%, 82%);
  --marigold_75: hsla(42, 99%, 46%, 0.75);
  --xiketic_90: hsla(280, 37%, 8%, 0.9);
  --cultured-2: hsl(0, 0%, 97%);
  --marigold: hsl(42, 99%, 46%);
  --platinum: hsl(0, 0%, 89%);
  --dim-gray: hsl(0, 0%, 42%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --xiketic: hsl(277, 25%, 10%);
  --silver: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(236, 13%, 23%);
  /**
         * typography
         */
  --ff-oxanium: "Oxanium", cursive;
  --ff-poppins: "Poppins", sans-serif;
  --fs-1: 7rem;
  --fs-2: 4.5rem;
  --fs-3: 3.6rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.6rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.3rem;
  --fs-11: 1.2rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /**
         * spacing
         */
  --section-padding: 120px;
  /**
         * gradient
         */
  --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));
  /**
         * box shadow
         */
  --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
    inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
  --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
  --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
  --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);
  /**
         * transition
         */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.footer {
  color: var(--roman-silver);
}
.footer .fotter-top {
  padding-block-end: var(--section-padding);
}
.footer .products::before {
  display: none;
}
.footer .game-list {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.footer .game-list .game-item ion-icon {
  display: inline-block;
  margin-right: 5px;
}
.footer div {
  margin: 30px 0;
}
.footer div .h3 {
  margin: 30px 0;
  position: relative;
}
.footer div .h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;
  background-color: hsl(42, 99%, 46%);
  width: 40px;
  height: 4px;
}
.footer div ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.footer div ul li {
  transition: var(--transition);
  cursor: pointer;
}
.footer div ul li:hover {
  transform: translate(5px, -2px);
}
.footer .social-list {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.footer .social-list .social-link {
  color: var(--white);
  padding: 10px;
  border-radius: 2px;
}
.footer .social-list .social-link.facebook {
  background-color: #3b5998;
}
.footer .social-list .social-link.twitter {
  background-color: #55acee;
}
.footer .social-list .social-link.pinterest {
  background-color: #d71e18;
}
.footer .social-list .social-link.linkedin {
  background-color: #1565c0;
}
.footer .news .footer-newsletter {
  position: relative;
}
.footer .news .footer-newsletter .email-field {
  background-color: var(--raisin-black-4);
  padding-inline-end: 60px;
  font-size: var(--fs-9);
  color: var(--white);
  padding: 12px 20px;
}
.footer .news .footer-newsletter .footer-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 53px;
  background-color: var(--marigold);
  color: var(--xiketic);
  display: grid;
  place-content: center;
}
.footer .footer-bottom {
  background-color: var(--eerie-black-2);
  text-align: center;
  padding-block: 1px;
  margin: 0 !important;
}
.footer .footer-bottom .copyright {
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
}
.footer .footer-bottom .copyright .copyright-link {
  display: inline-block;
  color: var(--marigold);
}

@media screen and (max-width: 768px) {
  .footer .footer-bottom .container img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer-top {
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
  }
  .footer div {
    margin: 30px auto;
  }
  .footer div ul {
    gap: 20px;
  }
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .footer .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
  }
  .footer .follow {
    width: 100%;
  }
  .footer .news {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
  }
  .footer .follow {
    width: 100%;
  }
  .footer .news {
    width: 100%;
  }
}/*# sourceMappingURL=footer.css.map */