@use "../../styles/variables/colors" as *;
.featured-game {
  background-color: var(--cultured-2);
  .section-title {
    color: var(--xiketic);
    margin-block-end: 90px;

    h2 {
      color: $black !important;
      span {
        color: $secondColor;
      }
    }
  }
  .has-scrollbar {
    gap: 0px;
    .scrollbar-item{
      cursor: pointer;
      &:hover .card-content {
        opacity: 0;
      }
    
      &:hover .card-content-overlay {
        opacity: 1;
      }
    }
  }

  .featured-game-card {
    position: relative;
    .card-banner{
      .img-holder{
        width: 100%;
      }
    }
  }
  .card-content {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 35px;
    transition: var(--transition);
    position: absolute;
    .card-meta {
      color: var(--platinum);
    }
    ion-icon {
      color: var(--marigold);
      font-size: 14px;
    }
  }
  .card-icon {
    margin-block-end: 20px;
  }
  .card-title {
    margin-block-end: 5px;
  }
  .card-meta {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .card-content-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--marigold_75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: var(--transition);
    z-index: 11;
    .card-title {
      color: var(--xiketic);
    }

    .span {
      color: var(--white);
    }

  }
  
}


@media screen and (min-width : 576px) {
  .featured-game{

    .has-scrollbar {
      .scrollbar-item{
        min-width: 50%;
      }
    }
  }
}
@media screen and (min-width : 992px) {
  .featured-game{
    .has-scrollbar{
      .scrollbar-item{
        min-width: 33.33% !important;
      }
    }
  }
}
@media screen and (min-width : 1200px) {
  .featured-game{
    padding: 52px 150px;
  }
}