:root {
  /**
         * colors
         */
  --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
  --raisin-black-1: hsl(0, 0%, 16%);
  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --roman-silver: hsl(220, 6%, 59%);
  --quick-silver: hsl(0, 1%, 65%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsl(0, 2%, 82%);
  --marigold_75: hsla(42, 99%, 46%, 0.75);
  --xiketic_90: hsla(280, 37%, 8%, 0.9);
  --cultured-2: hsl(0, 0%, 97%);
  --marigold: hsl(42, 99%, 46%);
  --platinum: hsl(0, 0%, 89%);
  --dim-gray: hsl(0, 0%, 42%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --xiketic: hsl(277, 25%, 10%);
  --silver: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(236, 13%, 23%);
  /**
         * typography
         */
  --ff-oxanium: "Oxanium", cursive;
  --ff-poppins: "Poppins", sans-serif;
  --fs-1: 7rem;
  --fs-2: 4.5rem;
  --fs-3: 3.6rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 2rem;
  --fs-7: 1.6rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  --fs-10: 1.3rem;
  --fs-11: 1.2rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /**
         * spacing
         */
  --section-padding: 120px;
  /**
         * gradient
         */
  --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));
  /**
         * box shadow
         */
  --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
    inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
  --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
  --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
  --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);
  /**
         * transition
         */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.featured-game {
  background-color: var(--cultured-2);
}
.featured-game .section-title {
  color: var(--xiketic);
  margin-block-end: 90px;
}
.featured-game .section-title h2 {
  color: hsl(277, 25%, 10%) !important;
}
.featured-game .section-title h2 span {
  color: hsl(42, 99%, 46%);
}
.featured-game .has-scrollbar {
  gap: 0px;
}
.featured-game .has-scrollbar .scrollbar-item {
  cursor: pointer;
}
.featured-game .has-scrollbar .scrollbar-item:hover .card-content {
  opacity: 0;
}
.featured-game .has-scrollbar .scrollbar-item:hover .card-content-overlay {
  opacity: 1;
}
.featured-game .featured-game-card {
  position: relative;
}
.featured-game .featured-game-card .card-banner .img-holder {
  width: 100%;
}
.featured-game .card-content {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 35px;
  transition: var(--transition);
  position: absolute;
}
.featured-game .card-content .card-meta {
  color: var(--platinum);
}
.featured-game .card-content ion-icon {
  color: var(--marigold);
  font-size: 14px;
}
.featured-game .card-icon {
  margin-block-end: 20px;
}
.featured-game .card-title {
  margin-block-end: 5px;
}
.featured-game .card-meta {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}
.featured-game .card-content-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--marigold_75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: var(--transition);
  z-index: 11;
}
.featured-game .card-content-overlay .card-title {
  color: var(--xiketic);
}
.featured-game .card-content-overlay .span {
  color: var(--white);
}

@media screen and (min-width: 576px) {
  .featured-game .has-scrollbar .scrollbar-item {
    min-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .featured-game .has-scrollbar .scrollbar-item {
    min-width: 33.33% !important;
  }
}
@media screen and (min-width: 1200px) {
  .featured-game {
    padding: 52px 150px;
  }
}/*# sourceMappingURL=games.css.map */