@use "../../styles/variables/colors" as *;
@use "../../styles/variables/mediaQuery" as *;

.landing {
  background-image: url(/images/hero-bg.jpg);
  padding: 20px;
  //   margin-block-start: 84px;
  text-align: center;
  min-height: 100vh;
  margin-top: 60px;
  .description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      color: $secondColor;
      font-size: 2rem;
      font-weight: 700;
    }
    h1 {
      font-size: 4.6rem;
      font-weight: 900;
      text-align: center;
      margin: 16px 0;
      span {
        color: $secondColor;
        display: inline-block;
      }
    }
    p {
      color: $light-gray-2;
      text-align: center;
      font-size: 1.5rem;
    }
    button {
      color: $black;
      padding: 9px 5px;
      position: relative;
      z-index: 2;
      margin: 37px 0px;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
      min-height: 55px;
      padding-inline: 35px;
      &:hover::before {
        right: -0%;
      }
      &::after {
        z-index: -1;
        background-color: $secondColor;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        inset: 0;
        transform: skewX(-16deg);
      }
      &::before {
        z-index: -1;
        background-color: hsl(42, 99%, 46%);
        position: absolute;
        content: "";
        width: 4px;
        height: 100%;
        right: -12px;
        transform: rotate(16deg);
        top: 0;
        transition: right 0.2s linear; /* تجهيز الأنيميشن */
      }
    }
  }
  .image_container {
    display: none;
  }
}
//responsive for larger than 576px screen


@media screen and (max-width: 576px) {
  .landing {
     margin-top: 0px;
  }
}

@media screen and (min-width: 576px) {
  .landing {
    .description {
      width: 85%;
      justify-content: center;
      align-items: center;
      h1,
      p {
        text-align: center;
      }
      h3 {
        font-size: 2.1rem;
        margin: 10px;
      }
      h1 {
        font-size: 6.6rem;
      }
      p {
        font-size: 1.9rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .landing {
    .description {
      width: 85%;
      justify-content: center;
      align-items: center;
      h1,
      p {
        text-align: center;
      }
      h3 {
        font-size: 2.1rem;
        margin: 10px;
      }
      h1 {
        font-size: 8.3rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .landing {
    .description {
      justify-content: start;
      align-items: start;
      h1{
        font-size: 7rem;
        text-align: start;
      }
      p{
        text-align: start;
      }
    }
    .image_container {
      display: block;
    }
  }
}
