@use "../../styles/variables/colors" as *;

.products {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-image: url("/images/section-wrapper-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  .title_container {
    p {
      color: var(--light-gray-1);
      margin-top: 41px;
      padding: 20px;
      font-size: 17px;
    }
  }
  .shop-game-card {
    padding: 10px;
    .card-content {
      background-image: url("/images/shop-bg.jpg");
      box-shadow: var(--shadow-2);
      padding: 4rem 2rem;
      position: relative;
      .card-badge {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
      }
      .h3 {
        padding: 10px 0;
      }
      .card-title {
        transition: var(--transition);
        &:is(:hover, :focus) {
          color: var(--marigold);
        }
      }
      .card-wrapper {
        margin-top: 10px;
        .card-price {
          color: $secondColor;
          font-family: var(--ff-oxanium);
          font-weight: var(--fw-800);
        }
        .card-btn {
          color: $secondColor;
          font-size: 18px;
          padding: 7px;
          border: 1px solid var(--english-violet);
          border-radius: 4px;
          transition: var(--transition);
          &:is(:hover, :focus) {
            background-color: var(--marigold);
            color: var(--xiketic);
            border-color: var(--marigold);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .products {
    .has-scrollbar {
      .scrollbar-item {
        min-width: 100%;
      }
    }
  }
  .products .title_container p {
    color: var(--light-gray-1);
    margin-top: 41px;
    padding: 20px 93px;
    font-size: 17px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    .has-scrollbar {
      .scrollbar-item {
        min-width: 50%;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .products {
    .has-scrollbar {
      .scrollbar-item {
        min-width: 30.33%;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .products {
    .has-scrollbar {
      .scrollbar-item {
        min-width: 31.33%;
      }
    }
  }
}
